:root {
    --One_color: rgb(56, 54, 54);
    --Two_color: #8DD3BB;
    --Fontfamaly: Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

main>.container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.Find_Hotel {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 30px;
}

.Find_Hotel>input {
    max-width: 200px;
    width: 100%;
    min-height: 35px;
    padding-left: 15px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: 0.5s border ease;
    border: 1px solid white;
    color: var(--Two_color);
    font-family: var(--Fontfamaly);
    font-weight: 600;
}

.Find_Hotel>input:focus {
    border-color: #8DD3BB;
}

.Find_Hotel>button {
    background-color: var(--Two_color);
    padding: 15px;
    border-radius: 15px;
}


.MAIN {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}





.MAIN_left {
    max-width: 350px;
    width: 100%;
    height: auto;
    border-radius: 30px;
    background-color: white;
    transition: 0.5s all ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--Two_color) 3px solid;
}

.MAIN_left:hover {
    box-shadow: 2px 3px 104px 0px rgba(0,0,0,0.33);
    -webkit-box-shadow: 2px 3px 104px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 2px 3px 104px 0px rgba(0,0,0,0.33);
    transform: scale(110%);
}


.MAIN_left_GUI {
    width: 300px;
    height: 20px;
    overflow: hidden;
    transition: 0.5s all ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.MAIN_left>hr {
    width: 100%;
}

.MAIN_left_GUI>h4 {
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.MAIN_left_GUI_div_btn {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.MAIN_left_GUI_div_btn>button {
    border-radius: 15px;
    border: solid 3px var(--Two_color);
    padding: 15px;
    transition: 0.5s transform ease;
}

.MAIN_left_GUI_div_btn>button:hover {
    transform: scale(110%) translateY(-10px);
}

.MAIN_left_GUI i {
    transform: rotate(180deg);
    transition: 0.5s all ease;
}

.MAIN_left_GUI.active i {
    transform: rotate(0);
}

.MAIN_left_GUI.active>h4 {
    color: var(--Two_color);
}

.MAIN_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.MAIN_right_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    min-height: 300px;
    background-color: white;
    border-radius: 30px;
    border: solid 3px var(--Two_color);
    transition: 0.5s all ease;
}

.MAIN_right_item:hover {
    box-shadow: 2px 3px 104px 0px rgba(0,0,0,0.33);
    -webkit-box-shadow: 2px 3px 104px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 2px 3px 104px 0px rgba(0,0,0,0.33);
    transform: scale(105%);
}

.MAIN_right_item>img {
    width: auto;
    height: auto;
    border-radius: 30px;
}

.MAIN_right_item_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 300px;
}

.MAIN_right_item_right>h2 {
    font-weight: 600;
    font-size: 25px;
    color: var(--One_color);
    display: flex;
    flex-direction: column;
}

.MAIN_right_item_right>p {
    font: 600;
    font-family: var(--Fontfamaly);
    color: gold;
    font-size: 20px;
}

.MAIN_right_item_right>div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.MAIN_right_item_right>div>button>i {
    border-radius: 15px;
    border: solid 3px var(--Two_color);
    padding: 15px;
    transition: 0.5s all ease;
}

.MAIN_right_item_right>div>button>i:hover,
.MAIN_right_item_right>div>input:hover {
    transform: scale(110%);
    border-color: gold;
    color: gold;
}

.MAIN_right_item_right>div>input {
    background: none;
    border: none;
    transition: 0.5s all ease;
    background-color: var(--Two_color);
    max-width: 200px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    font-weight: 600;
    color: var(--One_color);
}

.Show_more_results {
    width: 100%;
    border-radius: 15px;
    height: 30px;
    background-color: var(--Two_color);
    color: aliceblue;
    transition: 0.5s all ease;
    font-family: var(--Fontfamaly);
}

.Show_more_results:hover {
    transform: scale(110%);
}