:root {
    --color_bg: rgb(32, 31, 31);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--color_bg);
    display: flex;
    flex-direction: column;
    gap: 100px;
    cursor: default;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    transition: 0.5s;
}

nav .logo img {
    position: relative;
    border-radius: 50%;
    margin-left: 200px;
    z-index: 2;
    transition: 0.5s;
}

nav .logo img:hover {
    transform: translateY(5px);
    cursor: pointer;
}

nav .img_nav {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}



main {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

main form h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 62px;
    color: aliceblue;
    text-align: center;
    letter-spacing: -0.5px;
   
}

main form #main_register_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main form #main_register_info #a {
    background: #E53D3E;
    box-shadow: 0px 10px 15px -3px rgba(21, 23, 25, 0.16);
    border-radius: 2px;
    width: 500px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    gap: 30px;
    position: relative;
    z-index: 2;
    
}

main form #main_register_info #a i {
    border-right: solid 1px aliceblue;
    padding-right: 5px;
}



main form #main_register_info #a2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: #9BA9B4;
}

main form #main_register_info span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: aliceblue;
}

main form #main_register_info span b {
    color: #E53D3E;
}


main form #main_register_info input {
    border: 1px solid #33363A;
    border-radius: 2px;
    width: 500px;
    height: 30px;
    background: none;
    padding-left: 10px;
    color: aliceblue;
}

main form p {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #707D86;
}

main form #Sign_up {
    background: #5D5DFF;
    box-shadow: 0px 10px 15px -3px rgba(21, 23, 25, 0.16);
    border-radius: 2px;
    width: 500px;
    height: 50px;
    transition: 0.5s;
    border: 0;
    
}

main form #Sign_up:hover {
    transform: translateY(5px);
    background-color: #E53D3E;
    color: #33363A;
    cursor: pointer;
}

@media (max-width: 530px) {
    main form #main_register_info input {
        width: 200px;
    }

    main form #Sign_up {
        width: 200px;
    }

    main form #main_register_info #a {
        width: 200px;
    }

    main form h1 {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    main form h1 {
        font-size: 20px;
    }

    nav .logo img {
        margin-left: 100px;
    }
}