@media (max-width: 1520px) {
    .Logo_Web_right img {
        width: 500px;
    }

    .Logo_Web_left {
        width: 500px;
    }

    .Logo_Web_left_div2 a {
        width: 200px;
        height: 50px;
    }
}

@media (max-width: 1230px) {
    .My_Regime {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
}

@media (max-width: 1200px) {
    .Get_a_Free {
        flex-direction: column;
        
    }

    .Get_a_Free_left {
        margin-right: 0;
    }

    .Get_a_Free_right {
        position: relative;
        border-radius: 50px;
    }
}

@media (max-width: 1100px) {
    .Logo_Web {
        flex-direction: column;
        gap: 60px;
    }

    .Some {
        gap: 40px;
    }

    .Some_title {
        flex-direction: column;
    }
    
    .Some_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .From_title {
        flex-direction: column;
    }

    .From_info {
        flex-direction: column;
        
    }

    .From_info_div {
        width: 500px;
    }

}

@media (max-width: 1000px) {
    .Services_info {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        'box box2'
        'box3 box4'
        'box5 box6';
    }
    .Services_title {
        font-size: 20px;
    }
}

@media (max-width: 840px) {
    .Potrebujete h1 {
        font-size: 20px;
        text-align: center;
    }
}



@media (max-width: 750px) {
    .Get_a_Free_right {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 710px) {
    #Menu_btn_label {
        display: block;
        color: #8BE5E3;
        font-size: 30px;
    }

    #Menu_btn_label:hover {
        color: aliceblue;
        transform: scale(105%);
    }

    .nav #menu {
        position: absolute;
        flex-direction: column;
        transform: translateY(-120%);
        top: 0;
        transition: 0.5s;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header .nav #Menu_btn:checked~#menu {
        transform: translateY(0);
        background-color: #6c6bb09a;
        
    }

    .header .nav #Menu_btn:checked~#Menu_btn_label {
        position: absolute;
        top: 0;
        z-index: 2;
    }

    header {
        background-position: center;
    }

    .Title_header_title {
        font-size: 30px;
    }

    .Title_header_BG {
        width: 230px;
        height: 200px;
    }
}

@media (max-width: 650px) {
    .Services_info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .My_Regime_left img {
        width: 250px;
        height: auto;
    }

    .My_Regime_right {
        width: 250px;
        height: auto;
    }

    .My_Regime_right h1 {
        font-size: 30px;
    }

    .My_Regime_right p {
        width: auto;
        height: auto;
    }
}

@media (max-width: 550px) {
    .Logo_Web_left {
        align-items: center;
    }
    
    .Logo_Web_left_div {
        width: 250px;
        height: auto;
    }

    .Logo_Web_left_div2 {
        flex-direction: column;
        align-items: center;
        
    }

    .Logo_Web_left_div_Ok {
        border: 0;
        border-top: solid 2px rgb(54, 52, 52);
        padding-top: 10px;
    }

    .Logo_Web_right img {
        width: 250px;
        height: auto;
    }

    .Logo_Web_left {
        width: auto;
    }

    .Get_a_Free_right {
        width: 200px;
        height: 200px;
        border-radius: 10px;
    }

    .Get_a_Free_right img {
        width: 100px;
        height: auto;
        border-radius: 10px;
    }

    .Get_a_Free_left {
        align-items: center;
    }

    .Get_a_Free_left h1 {
        text-align: center;
    }

    .Get_a_Free_left input {
        width: 200px;
        
    }

    
    
    .Some_title {
        width: 200px;
        height: auto;
    }

    .Some_title h1 {
        font-size: 25px;
    }

    .Some_title ul {
       flex-direction: column;
    }

    .Some_info_div {
        width: 200px;
    }

    .Some_info_div img {
        width: 100%;
        height: auto;
    }

    .Some_info_div h3 {
        font-size: 20px;
    }

    .Some_info_div p {
        font-size: 10px;
    }

    .From {
        justify-content: center;
        align-items: center;
    }

    .From_title {
        width: 200px;
    }

    .From_info_div {
        width: 200px;
        height: auto;
    }

    .From_info_div_title i {
        font-size: 20px;
    }

    .From_info_div_title span i {
        font-size: 10px;
    }

    .From_info_div_user img {
        width: 50px;
        height: auto;
    }

    .footer_contact ul {
        flex-direction: column;
    }

    .footer_defing h1 {
        font-size: 10px;
    }
   
}

@media (max-width: 320px) {
    .Title_header_title {
        font-size: 20px;
    }

    .Title_header_text {
        font-size: 15px;
    }

    .Services_info_div {
        width: 250px;
        height: auto;
    }
}


@media (max-width: 250px) {
    .nav {
        flex-direction: column;
        gap: 30px;
    }
} 